.svg-icon-primary {
  fill: #009834; }
  .svg-icon-primary.svg-circle {
    border: 1px solid #009834; }

.svg-icon-text {
  fill: #000000; }
  .svg-icon-text.svg-circle {
    border: 1px solid #000000; }
  .svg-icon-text.svg-solid {
    line-height: 42px;
    background: #FFFFFF;
    border: 5px solid #009834;
    fill: #009834; }

.svg-icon-accent {
  fill: #009834; }

.svg-icon-invert {
  fill: #FFFFFF; }
  .svg-icon-invert.svg-circle {
    border: 1px solid #FFFFFF; }

.svg-circle {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%; }
  .svg-circle-big {
    width: 50px;
    height: 50px;
    line-height: 48px; }

.text-primary {
  color: #009834; }

.text-secondary {
  color: #FFFFFF; }

.text-accent {
  color: #009834; }

.bg-primary {
  background-color: #009834 !important;
  color: #FFFFFF !important; }
  .bg-primary a {
    color: #FFFFFF !important; }

.section-footer, .account-page, .section-informative-banners {
  margin-bottom: 70px; }

.element-footer, .contact-item, .product-description, .social-share, .nube-slider-product, .section-brands-home, .section-featured-home, .instafeed-title, .section-video-home, .category-header, .page-header {
  margin-bottom: 20px; }

.breadcrumbs {
  margin-bottom: 10px; }

.tab-group .tab-link, .btn-secondary, .btn-primary {
  border-radius: 40px; }

.box-rounded {
  border-radius: 20px; }

.card-img, .alert, .form-control,
.form-select,
.form-quantity, .modal, .btn-default, .box-rounded-small, .box {
  border-radius: 10px; }

.head-light, .swiper-text {
  transition: all 0.5s ease; }

.btn-secondary, .btn-primary, body {
  font-size: 14px; }

body {
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  background-color: #FFFFFF; }

.box {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  -webkit-box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.04);
  -o-box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.04);
  box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.04); }
  .box.box-border {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none; }

.box-rounded {
  overflow: hidden; }

.box-rounded-small {
  overflow: hidden; }

.placeholder-container {
  background-color: rgba(0, 152, 52, 0.1); }

.placeholder-color {
  background-color: rgba(0, 152, 52, 0.2); }

.placeholder-icon svg {
  fill: rgba(0, 152, 52, 0.2); }

.placeholder-page {
  background: #009834; }
  .placeholder-page:hover, .placeholder-page.active {
    background: #009834;
    opacity: 0.8; }

.placeholder-shine,
.placeholder-fade {
  background-color: rgba(0, 152, 52, 0.2); }

.placeholder-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0; }
  .placeholder-overlay:hover, .placeholder-overlay:active, .placeholder-overlay:focus {
    opacity: 1; }

.placeholder-info {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #009834;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  .placeholder-info .placeholder-button {
    color: #009834;
    background-color: #FFFFFF;
    opacity: 1; }
    .placeholder-info .placeholder-button:hover {
      opacity: .8; }

.spinner-ellipsis .point {
  background-color: rgba(0, 0, 0, 0.2); }

.spinner-ellipsis.invert .point {
  background-color: #FFFFFF; }

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.breadcrumbs .divider {
  margin: 3px;
  opacity: 0.6; }

.breadcrumbs .crumb {
  opacity: 0.6; }
  .breadcrumbs .crumb.active {
    opacity: 1; }

.page-header h1, .page-header .h1 {
  margin-bottom: 0; }

.category-header h1, .category-header .h1 {
  margin-bottom: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Montserrat", Sans-serif; }

.btn {
  text-decoration: none;
  text-align: center;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  white-space: normal;
  background: none;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn:hover, .btn:focus {
    outline: 0;
    opacity: 0.8; }
  .btn[disabled], .btn.disabled, .btn[disabled]:hover, .btn.disabled:hover {
    opacity: 0.8;
    cursor: not-allowed;
    outline: 0; }
  .btn-default {
    display: block;
    padding: 12px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000000;
    fill: #000000;
    background-color: #FFFFFF;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .btn-default:hover {
      border: 1px solid #009834; }
      .btn-default:hover svg {
        fill: #009834; }
  .btn-primary {
    padding: 13px;
    background-color: #009834;
    color: #FFFFFF;
    fill: #FFFFFF;
    letter-spacing: 2px;
    font-weight: bold; }
    .btn-primary:hover {
      color: #FFFFFF; }
  .btn-secondary {
    padding: 13px;
    color: #009834;
    border: 1px solid #009834;
    letter-spacing: 2px;
    font-weight: bold; }
    .btn-secondary:hover {
      color: #009834; }
    .btn-secondary.invert {
      color: #FFFFFF;
      border: 1px solid #FFFFFF; }
      .btn-secondary.invert:hover {
        color: #FFFFFF;
        opacity: 0.8; }
  .btn-block {
    float: left;
    width: 100%; }
  .btn-medium {
    padding: 12px;
    font-size: 12px; }
  .btn-small {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 1px; }
  .btn-facebook {
    color: #1977f2;
    border: 1px solid #1977f2; }
    .btn-facebook .svg-fb-icon {
      position: relative;
      bottom: 1px;
      height: 16px;
      margin-right: 5px;
      vertical-align: middle;
      fill: #1977f2; }
    .btn-facebook:hover {
      background: #1977f2;
      color: #fff; }
      .btn-facebook:hover .svg-fb-icon {
        fill: #fff; }

button {
  cursor: pointer; }
  button:focus {
    outline: 0;
    opacity: 0.8; }

a {
  color: #000000;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover, a:focus {
    color: rgba(0, 0, 0, 0.5); }

.link-contrast {
  color: #FFFFFF; }
  .link-contrast:hover, .link-contrast:focus {
    color: rgba(255, 255, 255, 0.8); }

.btn-link {
  color: #000000;
  fill: #000000;
  cursor: pointer; }
  .btn-link:hover, .btn-link:focus {
    color: #009834;
    fill: #009834; }
    .btn-link:hover svg, .btn-link:focus svg {
      fill: #009834; }
  .btn-link.toggled {
    color: #009834; }
  .btn-link.invert {
    color: #FFFFFF;
    fill: #FFFFFF;
    opacity: 0.8; }
    .btn-link.invert:hover, .btn-link.invert:focus {
      color: #FFFFFF;
      fill: #FFFFFF;
      opacity: 0.5; }
  .btn-link-primary {
    color: #009834;
    fill: #009834;
    font-weight: bold; }
    .btn-link-primary:hover, .btn-link-primary:focus {
      color: #009834;
      fill: #009834;
      opacity: 0.5; }

.chip, .filter-remove {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.08); }
  .chip-remove-icon {
    background-color: #FFFFFF;
    fill: #000000; }

.bar-progress {
  background: rgba(0, 0, 0, 0.1); }
  .bar-progress-active {
    background-image: linear-gradient(-90deg, #009834, rgba(0, 152, 52, 0.2)); }
  .bar-progress-check {
    background-color: #FFFFFF;
    fill: #009834; }

.modal {
  color: #000000;
  background-color: #FFFFFF; }
  .modal-header {
    background-color: #009834;
    color: #FFFFFF;
    fill: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .modal-header:hover, .modal-header:focus {
      background-color: #FFFFFF;
      color: #009834;
      fill: #009834;
      border-bottom: 1px solid #009834; }
  .modal .modal-close.no-header {
    border-radius: 100%; }
  .modal .modal-close.invert {
    fill: #FFFFFF;
    border: 1px solid #FFFFFF; }

input,
textarea {
  font-family: "Montserrat", Sans-serif; }

.form-control::-webkit-input-placeholder {
  color: #000000; }

.form-control:-moz-placeholder {
  color: #000000; }

.form-control::-moz-placeholder {
  color: #000000; }

.form-control:-ms-input-placeholder {
  color: #000000; }

.form-control,
.form-select,
.form-quantity {
  display: block;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  /* Hack to avoid autozoom on IOS */
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000000;
  fill: #000000;
  background-color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .form-control:hover,
  .form-select:hover,
  .form-quantity:hover {
    border: 1px solid #009834; }
    .form-control:hover + .form-select-icon,
    .form-select:hover + .form-select-icon,
    .form-quantity:hover + .form-select-icon {
      fill: #009834; }
  .form-control:focus,
  .form-select:focus,
  .form-quantity:focus {
    outline: 0px !important;
    -webkit-appearance: none; }
  .form-control-inline,
  .form-select-inline,
  .form-quantity-inline {
    display: inline; }
  .form-control-small,
  .form-select-small,
  .form-quantity-small {
    padding: 8px 10px;
    font-size: 12px; }
  .form-control-big,
  .form-select-big,
  .form-quantity-big {
    padding: 17px 15px; }

.form-control-btn {
  position: absolute;
  top: 12px;
  right: 10px; }
  .form-control-btn-icon {
    width: 18px;
    height: 18px; }

.form-quantity .form-control {
  width: 100%;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  border: 0;
  text-align: center; }

.form-quantity-icon {
  width: 16px;
  fill: #000000; }

.form-quantity.small {
  width: 120px;
  float: left;
  padding: 8px; }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form-select {
  cursor: pointer; }

.form-select-icon {
  background: #FFFFFF;
  fill: #000000; }

.form-group-inline .form-control {
  border-right: 0;
  border-radius: 10px 0 0 10px; }

.form-group-inline .btn {
  padding: 13px 12px 12px 12px;
  border-radius: 0 10px 10px 0; }

.radio-button .radio-button-content {
  border: 2px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.radio-button-icon.unchecked {
  background-color: #FFFFFF; }

.radio-button input[type="radio"] + .radio-button-content .unchecked {
  border: 1px solid rgba(0, 0, 0, 0.5); }

.radio-button input[type="radio"]:checked + .radio-button-content .unchecked {
  border: 1px solid #009834; }

.radio-button input[type="radio"]:checked + .radio-button-content {
  border: 2px solid #009834;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.radio-button input[type="radio"]:checked + .radio-button-content .radio-button-icons-container {
  background-color: #009834; }

.checkbox-container .checkbox-icon {
  background: #FFFFFF;
  border: 1px solid #000000; }
  .checkbox-container .checkbox-icon:after {
    border: solid #009834;
    border-width: 0 2px 2px 0; }

.checkbox-container .checkbox:hover,
.checkbox-container input:checked ~ .checkbox {
  color: #009834;
  fill: #009834; }
  .checkbox-container .checkbox:hover .checkbox-icon,
  .checkbox-container input:checked ~ .checkbox .checkbox-icon {
    border: 1px solid #009834; }

.checkbox-container .checkbox-color {
  border: 1px solid rgba(0, 0, 0, 0.06); }

.list .list-unstyled .radio-button-item .radio-button-content,
.list .list-unstyled .list-item,
.list .radio-button-item .radio-button-content,
.list .list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.list .list-unstyled .radio-button-item:last-child .radio-button-content,
.list .list-unstyled .list-item:last-child,
.list .radio-button-item:last-child .radio-button-content,
.list .list-item:last-child {
  border-bottom: 0; }

.alert:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: bottom; }

.alert-danger, .alert-error {
  color: #cc4845;
  border-color: #cc4845; }
  .alert-danger:before, .alert-error:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23cc4845"><path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z"/></svg>'); }

.alert-warning {
  color: #d27611;
  border-color: #d27611; }
  .alert-warning:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="%23d27611"><path d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z"/></svg>'); }

.alert-info {
  color: #3d9ccc;
  border-color: #3d9ccc; }
  .alert-info:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%233d9ccc"><path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z"/></svg>'); }

.alert-success {
  color: #3caf65;
  border-color: #3caf65; }
  .alert-success:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%233caf65"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"/></svg>'); }

.alert-primary {
  border-color: #009834;
  color: #009834; }

.bg-primary .alert-danger, .bg-primary .alert-error {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .bg-primary .alert-danger:before, .bg-primary .alert-error:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23FFFFFF"><path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z"/></svg>'); }

.bg-primary .alert-warning {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .bg-primary .alert-warning:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="%23FFFFFF"><path d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z"/></svg>'); }

.bg-primary .alert-info {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .bg-primary .alert-info:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23FFFFFF"><path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z"/></svg>'); }

.bg-primary .alert-success {
  color: #FFFFFF;
  border-color: #FFFFFF; }
  .bg-primary .alert-success:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="%23FFFFFF"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"/></svg>'); }

.bg-primary .alert-primary {
  border-color: #FFFFFF;
  color: #FFFFFF; }

.notification-primary {
  color: #FFFFFF;
  background-color: #007f2b; }

.notification-arrow-up {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  border-left: 10px solid transparent; }

.notification-floating .notification-primary {
  color: #000000;
  background-color: #FFFFFF;
  border-color: rgba(0, 152, 52, 0.2); }

.notification-secondary {
  background: #f9e200;
  color: #FFFFFF; }

.notification-img svg {
  border-radius: 100%;
  background: #FFFFFF; }

.table {
  background-color: #FFFFFF;
  color: #000000; }
  .table tbody tr:nth-child(odd) {
    background-color: rgba(0, 152, 52, 0.05); }
  .table th {
    padding: 8px;
    text-align: left; }

.tab-group .tab-link {
  border: 1px solid transparent;
  color: #000000; }

.tab-group .tab.active .tab-link {
  border: 1px solid #009834;
  color: #009834; }

.card {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08); }

.card-header {
  background-color: rgba(0, 0, 0, 0.1); }

.swiper-text {
  opacity: 0;
  top: 60%; }

.swiper-title {
  font-family: "Montserrat", Sans-serif; }

.swiper-slide-active .swiper-text {
  opacity: 1;
  top: 50%; }

.swiper-dark {
  color: #000000; }
  .swiper-dark .swiper-btn {
    color: #FFFFFF;
    background-color: #000000; }

.swiper-light {
  color: #FFFFFF; }
  .swiper-light .swiper-btn {
    color: #000000;
    background-color: #FFFFFF; }

.swiper-pagination-bullet-active {
  background-color: #000000; }

.swiper-pagination-fraction {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/*============================================================================
  #Home Page
==============================================================================*/
.textbanner-image.overlay:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: ''; }

.textbanner-link:hover {
  color: #000000; }
  .textbanner-link:hover .textbanner-text {
    border-bottom: 1px solid #000000; }
    .textbanner-link:hover .textbanner-text.over-image, .textbanner-link:hover .textbanner-text-primary {
      border: 0; }

.textbanner-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .textbanner-text-primary {
    border: 0;
    background: #009834;
    color: #FFFFFF; }

.section-informative-banners {
  background: rgba(0, 0, 0, 0.1); }

.service-icon {
  fill: #000000; }

.embed-responsive {
  background: rgba(0, 0, 0, 0.2); }

.video-player-icon {
  background: #009834; }

.instafeed-title {
  display: block;
  line-height: 42px;
  color: #000000; }

.instafeed-info {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6); }

.section-featured-home {
  position: relative; }

.section-newsletter-home {
  padding: 70px 0;
  background: #009834;
  color: #FFFFFF; }

.newsletter .form-control {
  border: 0;
  color: #009834; }
  .newsletter .form-control::-webkit-input-placeholder {
    color: #009834; }
  .newsletter .form-control:-moz-placeholder {
    color: #009834; }
  .newsletter .form-control::-moz-placeholder {
    color: #009834; }
  .newsletter .form-control:-ms-input-placeholder {
    color: #009834; }

.newsletter-btn {
  color: #000000; }

.section-brands-home {
  background: rgba(0, 0, 0, 0.1); }

/*============================================================================
  #Product grid
==============================================================================*/
.category-controls {
  background-color: #FFFFFF; }
  .category-controls.is-sticky {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.filter-remove:after {
  background-color: #FFFFFF;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="%23000000"><path d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"/></svg>'); }

.filters-overlay {
  background-color: rgba(255, 255, 255, 0.85); }

.item {
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .item-rounded {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .item-rounded .item-description {
      border-top: 4px solid #009834;
      border-bottom: 1px solid transparent; }
  .item-link {
    color: #000000; }
  .item-price {
    color: #009834; }
  .item-buy-variants {
    background: rgba(255, 255, 255, 0.9); }
  .item-colors {
    background: rgba(255, 255, 255, 0.9); }
    .item-colors-bullet {
      border: 1px solid rgba(0, 0, 0, 0.5); }
      .item-colors-bullet.selected {
        border: 2px solid #000000; }

.label {
  background: #000000;
  color: #FFFFFF; }
  .label.label-primary {
    background: #009834;
    color: #FFFFFF; }
  .label.label-secondary {
    background: #f9e200;
    color: #FFFFFF; }
  .label.label-accent {
    background: #009834;
    color: #FFFFFF; }

/*============================================================================
  #Product detail
==============================================================================*/
.product-thumb.selected {
  box-shadow: 0px 4px 0px 0px #009834; }

.product-thumb img {
  width: auto;
  height: 100%; }

.thumb-see-more {
  background-color: rgba(255, 255, 255, 0.5);
  color: #009834; }
  .thumb-see-more:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.product-video-container {
  background-color: rgba(0, 0, 0, 0.07); }

.social-share .social-share-button {
  color: #000000; }

/*============================================================================
  #Contact page
==============================================================================*/
.contact-item-icon {
  fill: #000000; }

.contact-link {
  color: #000000; }

/*============================================================================
  #Account page
==============================================================================*/
.order-item {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .order-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.08); }

/*============================================================================
  #Header and nav
==============================================================================*/
.section-topbar {
  background-color: #f9e200;
  color: #FFFFFF;
  fill: #FFFFFF; }

.head-light {
  color: #009834;
  fill: #009834;
  background-color: #FFFFFF; }
  .head-light a:not(.btn-primary),
  .head-light .svg-icon-text {
    color: #009834;
    fill: #009834; }
  .head-light .cart-widget-amount {
    color: #FFFFFF;
    background: #009834; }
  .head-light .form-control {
    color: #009834;
    border: 1px solid #009834; }
    .head-light .form-control::-webkit-input-placeholder {
      color: #009834; }
    .head-light .form-control:-moz-placeholder {
      color: #009834; }
    .head-light .form-control::-moz-placeholder {
      color: #009834; }
    .head-light .form-control:-ms-input-placeholder {
      color: #009834; }

.head-dark,
.head-primary {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #000000; }
  .head-dark .svg-icon-text,
  .head-dark .nav-desktop-list > .nav-item > .nav-list-link,
  .head-dark .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link,
  .head-dark .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-arrow > i,
  .head-dark .utilities-item svg,
  .head-primary .svg-icon-text,
  .head-primary .nav-desktop-list > .nav-item > .nav-list-link,
  .head-primary .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link,
  .head-primary .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-arrow > i,
  .head-primary .utilities-item svg {
    color: #FFFFFF;
    fill: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.2); }
  .head-dark .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link.selected,
  .head-dark .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link.selected + .nav-list-arrow > i,
  .head-primary .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link.selected,
  .head-primary .nav-desktop-list > .nav-item > .nav-item-container > .nav-list-link.selected + .nav-list-arrow > i {
    color: #FFFFFF;
    fill: #FFFFFF;
    opacity: 0.6; }
  .head-dark .form-control,
  .head-primary .form-control {
    background-color: #FFFFFF;
    border: 0; }
  .head-dark a,
  .head-primary a {
    color: #FFFFFF;
    fill: #FFFFFF; }
  .head-dark .btn-secondary,
  .head-primary .btn-secondary {
    color: #009834; }
  .head-dark .cart-widget-amount,
  .head-primary .cart-widget-amount {
    color: #FFFFFF;
    background: #009834; }

.head-primary {
  background-color: #009834; }
  .head-primary .icon-underline:after {
    background-color: rgba(255, 255, 255, 0.4); }
  .head-primary .cart-widget-amount {
    color: #009834;
    background: #f9e200; }
  .head-primary .form-control {
    color: #009834; }
    .head-primary .form-control::-webkit-input-placeholder {
      color: #009834; }
    .head-primary .form-control:-moz-placeholder {
      color: #009834; }
    .head-primary .form-control::-moz-placeholder {
      color: #009834; }
    .head-primary .form-control:-ms-input-placeholder {
      color: #009834; }
  .head-primary .search-suggest {
    background-color: #009834; }
    .head-primary .search-suggest .search-suggest-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .head-primary .search-suggest a.btn {
      background-color: #FFFFFF;
      color: #009834;
      fill: #009834; }
  .head-primary .modal-close {
    fill: #FFFFFF; }
  .head-primary .nav-primary .nav-list .nav-item {
    border-color: rgba(255, 255, 255, 0.2); }
  .head-primary .nav-primary .nav-list .list-subitems {
    background-color: rgba(0, 0, 0, 0.18); }

.subutility-list {
  background-color: #009834;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }

.head-light .subutility-list {
  background-color: #FFFFFF; }

.head-light .search-suggest {
  background-color: #FFFFFF; }
  .head-light .search-suggest a.btn {
    color: #FFFFFF;
    fill: #FFFFFF; }

.head-light .nav-list-link {
  border-color: rgba(0, 0, 0, 0.2); }

.head-light .modal-close {
  fill: #009834; }

.head-light .nav-primary .nav-list .nav-item {
  border-color: rgba(0, 0, 0, 0.1); }

.head-light .nav-primary .nav-list .list-subitems {
  background-color: rgba(0, 0, 0, 0.18); }

.head-dark .subutility-list {
  background-color: #000000; }

.head-dark .search-input-submit {
  fill: #000000; }

.head-dark .search-suggest {
  background-color: #000000; }
  .head-dark .search-suggest .search-suggest-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .head-dark .search-suggest a.btn {
    background-color: #FFFFFF;
    color: #009834;
    fill: #009834; }

.head-dark .nav-list-link {
  border-color: rgba(255, 255, 255, 0.2); }

.head-dark .modal-close {
  fill: #FFFFFF; }

.head-dark .nav-primary .nav-list .nav-item {
  border-color: rgba(255, 255, 255, 0.1); }

.head-dark .nav-primary .nav-list .list-subitems {
  background-color: rgba(255, 255, 255, 0.1); }

.search-input-submit {
  fill: #009834; }

.search-suggest {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
  .search-suggest .search-suggest-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.nav-row {
  border-color: rgba(255, 255, 255, 0.2); }

.desktop-dropdown::-webkit-scrollbar-track {
  background: #f2f2f2; }

.desktop-dropdown::-webkit-scrollbar-thumb {
  background: #006523; }

.desktop-dropdown::-webkit-scrollbar-thumb:hover {
  background: #003211; }

.desktop-list-subitems {
  background-color: rgba(0, 152, 52, 0.95); }

.head-light .nav-row {
  border-color: rgba(0, 152, 52, 0.2);
  border-bottom: 1px solid rgba(0, 152, 52, 0.2); }

.head-light .desktop-dropdown::-webkit-scrollbar-track {
  background: #e6e6e6; }

.head-light .desktop-dropdown::-webkit-scrollbar-thumb {
  background: #009834; }

.head-light .desktop-dropdown::-webkit-scrollbar-thumb:hover {
  background: #006523; }

.head-light .desktop-list-subitems {
  background-color: rgba(255, 255, 255, 0.95);
  color: #009834;
  fill: #009834;
  border-top: 1px solid rgba(0, 152, 52, 0.1);
  border-bottom: 1px solid rgba(0, 152, 52, 0.1); }

.head-light .nav-categories-container:after,
.head-light .nav-categories-container:before {
  background-image: linear-gradient(-90deg, transparent, #f7f7f7); }

.head-dark .nav-row {
  border-color: rgba(255, 255, 255, 0.15); }

.head-dark .desktop-dropdown::-webkit-scrollbar-track {
  background: #cccccc; }

.head-dark .desktop-dropdown::-webkit-scrollbar-thumb {
  background: #333333; }

.head-dark .desktop-dropdown::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d; }

.head-dark .desktop-list-subitems {
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  fill: #FFFFFF; }

.head-dark .nav-categories-container:after,
.head-dark .nav-categories-container:before {
  background-image: linear-gradient(-90deg, transparent, black); }

.nav-categories-container:after,
.nav-categories-container:before {
  background-image: linear-gradient(-90deg, transparent, #008e31); }

.modal-nav-hamburger .navigation-topbar {
  background-color: #f9e200;
  fill: #FFFFFF; }

/*============================================================================
  #Footer
==============================================================================*/
footer {
  color: #009834;
  background: rgba(0, 0, 0, 0.1); }
  footer a,
  footer .contact-link {
    color: #009834; }
  footer .contact-item-icon {
    fill: #009834; }

.social-icon-rounded {
  background: #009834;
  fill: #FFFFFF; }
  .social-icon-rounded:hover {
    background: #f9e200; }

.powered-by-logo svg {
  fill: #FFFFFF; }

.footer-legal {
  background: #009834;
  color: #FFFFFF; }

@media (min-width: 768px) {
  .form-control,
  .form-select,
  .form-quantity {
    font-size: 14px; }
  .modal-header:hover .modal-close, .modal-header:focus .modal-close {
    border: 1px solid #009834; }
  .modal-close {
    border: 1px solid #FFFFFF;
    border-radius: 100%; }
  .swiper-text {
    opacity: 0;
    top: 40%; }
  .swiper-slide-active .swiper-text {
    opacity: 1;
    top: 50%; }
  .textbanner-shadow {
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .textbanner-shadow:hover {
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }
  .item-description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .item-product:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
    .item-product:hover .item-description {
      border-bottom: 1px solid transparent; }
  .item-rounded .item-actions {
    background: #FFFFFF;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); } }
