@media (max-width: 1500px) {
    .header {
        width: 100% !important;
    }
    .composicao-header {
        width: 100% !important;
    }
    .composicao-header-title h1 {
        font-size: 3rem !important;
    }
}

@media (max-width: 800px) {
    .w3-teal {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        background: rgb(225, 158, 104) !important;
    }
    .w3-teal a {
        margin: 0 10px;
    }
    .header {
        display: none !important;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        padding: 10px !important;
    }
    .items {
        flex-direction: column !important;
        align-items: center;
    }
    .carrousel-dots {
        display: none !important;
    }
    .bloco-1,
    .bloco-2,
    .bloco-3 {
        margin: 20px 0 !important;
    }
    .each-beneficio {
        margin: 20px 0 !important;
    }
    .dropdowns {
        flex-direction: column !important;
        align-items: center !important;
        width: 90% !important;
    }
    .dropdown-row-1 {
        width: 100% !important;
    }
    .dropdown-row-2 {
        width: 100% !important;
    }
    .portais {
        flex-wrap: wrap !important;
    }
    .each-safe {}
    .input-email {
        width: 90% !important;
    }
    .btn-send-email button {
        width: 100px !important;
    }
    /* ================================BENEFICIOS================================ */
    .sobre-o-produto {
        flex-direction: column !important;
        margin: 10px !important;
        width: 97% !important;
    }
    .sobre-title {
        width: 100% !important;
        margin: 10px 0px;
    }
    .sobre-text {
        width: 100% !important;
        margin: 10px 0px;
        text-align: center !important;
    }
    .sobre-title h1 {
        font-size: 5rem !important;
    }
    .outros-beneficios {
        flex-direction: column !important;
    }
    .outro-beneficios-title h1 {
        text-align: center !important;
    }
    .beneficios-pros {
        align-self: center;
    }
    .beneficios-contra {
        align-self: center;
    }
    .composicao-header {
        flex-direction: column !important;
    }
    .composicao-header-title {
        width: 100% !important;
    }
    .composicao-header-title h1 {
        font-size: 5rem;
        margin: 0;
        font-size: 3rem;
    }
    .composicao-header-text {
        width: 100% !important;
    }
    .qna-header-title h1 {
        font-size: 3rem !important;
    }
    .warning-bottom p {
        font-size: 0.8rem !important;
    }
}

body {
    max-width: 2080px;
    margin: 0 auto !important;
}

.back-header {
    left: 0;
    width: 100%;
    background: rgb(225, 158, 104);
    text-align: -webkit-center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 50%;
    align-items: center;
}

.header button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
}

#id-btn-faca-seu-pedido {
    border: 1px solid #69ff59;
    border-radius: 30px;
    color: #69ff59 !important;
    padding: 7px 20px 7px 20px;
    height: fit-content;
}

#id-btn-faca-seu-pedido a {
    color: #69ff59 !important;
    font-weight: 700;
    font-style: normal;
    font-family: "Open Sans", sans-serif !important;
    text-decoration: none;
}

.buttons-header {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.buttons-header a {
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-family: "Open Sans", sans-serif !important;
}

#id-logo {
    /* width: 100%; */
}

#id-img-logo {
    height: 100px;
}

#id-btn-carrinho-compras a {
    font-size: 1.5rem !important;
}

.banner {
    top: 92px;
    height: 450px;
    background-image: url("/src/img/new.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px;
}

.badge {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texts p {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    text-align: center;
}

.texts p:first-child {
    font-weight: bold;
    color: #404040;
    margin: 0;
    font-size: 14px;
}

.texts p:last-child {
    font-size: 14px;
    color: #6a6a6a;
}

.famosos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selfies {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 70%;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.each-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo-artista {}

#id-famoso-foto {
    width: 250px;
    height: 250px;
}

.title-artista p {
    color: #009834;
    font-family: "Open Sans", sans-serif !important;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.subtitle-artista p {
    font-size: 16px;
    color: #666;
    font-family: "Open Sans", sans-serif !important;
    margin: 0;
}

.arroba-artista p {
    font-size: 16px;
    color: #666;
    font-weight: 700;
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
}

.btn-artistas {
    display: flex;
}

#btn-compre-agora {
    margin: 50px;
}

#btn-compre-agora a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.carrousel {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    place-items: center;
}

.beneficios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-beneficio {
    display: flex;
    justify-content: center;
}

.carrousel-dots {
    height: 150px;
}

.carrousel-texts {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif !important;
}

.title-beneficio p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 10px;
}

.text-beneficio p {
    color: #000;
    font-size: 14px;
    margin: 3px;
}

.mid-section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mid-section-title {
    text-align: center;
}

.mid-section-title h1 {
    color: #000;
    font-size: 34px;
    line-height: 32px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif !important;
    letter-spacing: -2px;
}

.mid-section-title p {
    font-size: 16px;
    margin-top: 0px !important;
    font-family: "Open Sans", sans-serif !important;
    color: #6a6a6a;
    line-height: 20px;
}

.all-rows {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin: 30px;
}

.header-bloco {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #ff6200;
    padding: 10px 10px 1px 10px;
}

.header-bloco h1 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif !important;
    margin-bottom: 20px;
}

.header-bloco p {
    color: #fff;
    font-size: 16px;
    margin-top: -20px;
    font-family: "Libre Franklin", sans-serif !important;
}

.countdown {
    display: flex;
    background-color: rgb(15, 88, 15);
    color: white;
    font-family: "Open Sans", sans-serif !important;
    text-align: center;
    font-size: 14px;
    flex-direction: row;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
}

.clock-span {
    font-size: 2.5rem;
    place-self: center;
}

.clock-time p {
    margin: 0;
}

.clock-time p:last-child {
    font-size: 34px !important;
}

.bloco-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ff6200;
    padding: 0 0 15px 0;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgb(171 171 171 / 60%);
    text-align: center;
}

.precos {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif !important;
    text-align: center;
    place-items: center;
}

#id-bloco-1-first-price {
    text-decoration: line-through;
    font-size: 20px;
    color: #6a6a6a;
    margin: 0;
    margin-top: 30px;
}

.precos h3 {
    color: #6a6a6a;
    margin: 0;
}

#id-bloco-1-second-price {
    color: green;
    font-size: 2rem;
}

.lines {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: 10px 0;
}

.lines hr {
    width: 100px;
    height: 0;
}

#id-ou {
    font-size: 20px;
    color: #6a6a6a;
    margin: 0;
    margin-top: 5px 5px;
}

#id-juros {
    font-size: 20px;
    color: #6a6a6a;
    margin: 5px 5px;
}

#id-bloco-1-third-price {
    color: green;
    margin: 5px 5px;
    font-size: 3rem;
    font-weight: bolder;
}

.envio-bottom-text {
    color: #9db1b1;
    font-size: 12px;
}

#btn-promocional {
    font-size: 15px;
    color: #fff !important;
    background-color: green;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px;
}

#btn-compre-agora {
    background: #009809 !important;
    width: 250px;
    height: 60px;
    color: #fff !important;
    font-weight: 900 !important;
    border-radius: 7px;
    font-size: 15px !important;
    outline: none;
    border: none;
    align-self: center;
}

.bloco-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #ff6200;
    padding: 0 0 15px 0;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgb(171 171 171 / 60%);
    text-align: center;
}

.bloco-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ff6200;
    padding: 0 0 15px 0;
    border-radius: 25px;
    box-shadow: 0px 10px 30px rgb(171 171 171 / 60%);
    text-align: center;
}

.blocks-bottom-text p {
    color: #6a6a6a;
    font-size: 13px;
    text-align: center;
    margin: 5px;
    font-family: "Open Sans", sans-serif !important;
}

.blocks-bottom-text p:last-child {
    margin-bottom: 50px;
}

.o-que-voce-precisa-saber {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f2f2f2 !important;
    padding: 50px 0px;
}

#id-o-que-voce-precisa-saber {
    display: flex;
    flex-direction: column;
}

#id-o-que-voce-precisa-saber h1 {
    margin: 30px;
}

.dropdowns {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.dropdown-row-1 {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 45%;
}

.dropdown-row-1 p {
    border: solid 1px;
    border-radius: 100px;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.dropdown-row-1 button {
    border: none;
    outline: none;
    background-color: none;
}

.dropdown-row-1 button:hover {
    cursor: pointer;
}

.btns-toggle {
    cursor: pointer;
}

.btns-toggle:hover {
    opacity: 0.5s;
    transition: 0.2s;
}

.answers {
    display: none;
    justify-content: center;
    align-items: center;
    /* background-color: lightgray; */
    margin: 0 !important;
}

.answer-p {
    border: none !important;
    border-radius: 0 !important;
    margin: 0;
}

#answer-1 {
    border: none !important;
    width: 100%;
}

.dropdown-row-2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: start;
}

.dropdown-row-2 p {
    border: solid 1px;
    border-radius: 100px;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.dropdown-row-2 button {
    border: none;
}

.satisfacao-garantida img {
    width: 100%;
}

.midia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
}

.portais {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 80%;
    /* flex-wrap: wrap; */
}

.each-midia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.midiattext {
    font-size: 15px;
    color: #666;
    font-family: "Open Sans", sans-serif !important;
}

.midiattext p {
    margin: 30px 20px;
}

.midia-btn {
    display: flex;
    justify-content: center;
}

.seguranca {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

.safe-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.safe-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.first-row-safe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.each-safe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-evenly;
    margin: 20px !important;
}

.safe-texts {
    display: flex;
    font-family: "Open Sans", sans-serif !important;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.safe-texts h1 {
    font-size: 20px;
    color: #000;
    font-weight: 900;
    margin: 0;
}

.safe-texts p {
    font-size: 14px;
    color: #000;
    margin: 0;
}

.safe-img img {
    width: 300px;
}

.email {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #95cf49, #00bc72);
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}

.email-title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.email-title h1 {
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    font-family: "Montserrat", Sans-serif;
    margin: 0;
    width: 60%;
}

.email-text p {
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
}

.input-email {
    display: flex;
    margin: 30px 0;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
}

.email-input {
    display: flex;
    width: 100%;
}

#id-input-email {
    width: 90%;
    border: none;
    outline: none;
    border-radius: 50px;
    /* height: 30px; */
    padding: 10px;
    font-family: "Montserrat", Sans-serif;
}

.btn-send-email {
    display: flex;
}

.btn-send-email button {
    border: none;
    outline: none;
    width: 150px;
    opacity: 100 !important;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    background: #a9d055;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.rodape {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    background-color: #fff9f9;
}

.rows-rodape {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.links h4 {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
    font-family: "Open Sans", sans-serif !important;
}

.links p {
    color: #888;
    font-family: "Open Sans", sans-serif !important;
    margin: 5px 0;
}

.links a {
    text-decoration: none;
    color: #888;
}

.links a:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.duvidas {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.duvidas h4 {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
    font-family: "Open Sans", sans-serif !important;
}

.duvidas p {
    color: #888;
    font-family: "Open Sans", sans-serif !important;
}

.duvidas a {
    text-decoration: none;
    color: #888;
}

.duvidas a:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.segurança-e-certificados a {
    text-decoration: none;
    color: #888;
}

.segurança-e-certificados a:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.segurança-e-certificados h4 {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
    font-family: "Open Sans", sans-serif !important;
}

.segurança-e-certificados p {
    color: #888;
    font-family: "Open Sans", sans-serif !important;
}

.meio-de-pagamento h4 {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
    font-family: "Open Sans", sans-serif !important;
}

.meio-de-pagamento p {
    color: #888;
    font-family: "Open Sans", sans-serif !important;
}

.meio-de-pagamento a {
    text-decoration: none;
    color: #888;
}

.meio-de-pagamento a:hover {
    opacity: 0.5;
    transition: 0.2s;
}


/* ================================BENEFICIOS================================ */

.sobre-o-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 50px 0;
}

.sobre-title {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sobre-title h1 {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    color: #0078b7;
    font-size: 7rem;
    text-align: center;
}

.sobre-text {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: right;
}

.sobre-text p {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    color: #534f52;
    font-size: 1rem;
}

.outros-beneficios {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(249, 249, 249);
    padding: 50px 0;
}

.beneficios-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficios-pros {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-evenly;
}

.outro-beneficios-title h1 {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    color: #0078b7;
    font-size: 1.5rem;
    text-align: left;
}

.outro-beneficios-list {
    display: flex;
    flex-direction: row;
}

.outro-beneficios-list p {
    font-size: 1.2rem;
}

.beneficios-bottom-text {
    display: flex;
    width: 50%;
    align-self: center;
}

.beneficios-bottom-text p {
    font-size: 0.8rem;
    color: gray;
}

.composição-dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.composicao-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.composicao-header-title {
    display: flex;
    width: 50%;
    font-size: 3rem;
    color: #0078b7;
    font-family: "Open Sans", sans-serif !important;
    justify-content: center;
}

.composicao-header-title h1 {
    margin: 10px 0;
}

.qna {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.qna-header-title {
    display: flex;
    font-size: 3rem;
    width: 50%;
    color: #0078b7;
    font-family: "Open Sans", sans-serif !important;
    justify-content: center;
    margin: auto;
}

.qna-collumn {
    display: flex;
    justify-content: center;
}

.composicao-header-text {
    display: flex;
    width: 50%;
    font-size: 0.8rem;
    color: grey;
    font-family: "Open Sans", sans-serif !important;
    justify-content: center;
    align-items: center;
}

.warning-bottom {
    display: flex;
    width: 100%;
    margin: 30px 0;
    text-align: center;
    align-items: center;
}

.warning-bottom p {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif !important;
}